*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  body.samples-page {
    background: white;
  
  
  }
  body.samples-page {
    background-size: 100%; /* ou experimente 100%, 110% até achar o ideal */
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    overflow-x: hidden;
    position: relative;
 
  }
 .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 0 30px;
    z-index: 10;
  }
  .logo {

    height: 70px;
    width: 100px;
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
    transition: background-color 0.3s ease;
    margin-top: 8px; /* <<< novo */
}

.logo:hover {
  background-color: #004d26; /* Azul escuro */
  border: none; /* Garante que não apareçam bordas visuais */

  }
  
 .nav-item {
  display: inline-block; /* ESSENCIAL para ocupar o retângulo */
  color: white;
  font-size: 15px;
  font-weight: 800;
  text-decoration: none;
  font-family: 'Trade Winds', cursive !important;
  margin-right: -2px;
}

.nav-item.samples {
  border: 2px solid #004172;
  padding: 6px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #ffffff;
  margin-left: 19px;
  cursor: pointer;
}

.nav-item.samples:hover {
  background-color: #004172;
  color: white;

  }
  .nav-item.substancias {
    border: 2px solid #004d26;
  padding: 6px 16px;
  border-radius: 6px;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Trade Winds', cursive !important;

}
.nav-item.substancias {
  margin-left: 0px; /* Ajuste esse valor como quiser: -5px, -15px etc. */
}
  .nav-item:hover {
    background-color: #004d26;
  }
    
  .top-bar {
    justify-content: flex-start; /* já deve estar assim */
  }
  
  .nav-item {
    margin-right: -2px; /* espaçamento entre os botões */
  
  }
  
  .nav-item.tomebpm {
  border: 2px solid #4b028f; /* tom de azul escuro da imagem */
  padding: 6px 16px;
  font-family: 'Trade Winds', sans-serif;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 15px;         /* tamanho maior só no Samples */
  border-color: #4b028f;   /* cor da linha específica */
  color: #ffffff;          /* cor do texto específica (exemplo em azul claro) */
  margin-left: 19px; /* aumenta o espaçamento à esquerda */

}

.nav-item.tomebpm:hover {
  background-color: #4b028f;
  color: white;
}
.nav-item.conversaopramidi {
  border: 2px solid #bd4209; /* tom de azul escuro da imagem */
  padding: 6px 16px;
  font-family: 'Trade Winds', sans-serif;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 15px;         /* tamanho maior só no Samples */
  border-color: #bd4209;   /* cor da linha específica */
  color: #ffffff;          /* cor do texto específica (exemplo em azul claro) */
  margin-left: 19px; /* aumenta o espaçamento à esquerda */

}

.nav-item.conversaopramidi:hover {
  background-color: #bd4209;
  color: white;
}
.container {
  width: 90%;
  max-width: 900px;
  margin: 110px auto 0; /* Afastamento vertical estável */
  padding: 0px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  position: relative;
  left: 0px; /* Deslocamento horizontal real */
}
.site-footerafro {
  background-color: #000;
  width:100%;
  padding: 78px 40px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  margin-top: 100px;
  margin-left: -30px;
}

.footer-contentafro {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  

}

.footer-column2 {
  flex: 1;
  min-width: 220px;
  padding: 10px;
}
.footer-title2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left:310px;
}
.footer-title3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left:140px;
}

.footer-links2 {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.footer-links2 li {
  margin-bottom: 3px;
}

.footer-links2 a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left:310px;
  
}

.footer-links2 a:hover {
  text-decoration: underline;
}

.footer-contact2 {
  font-size: 14px;
  margin-bottom: 10px;
 
  margin-left: 142px;
  
}

.instagram-icon2 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left:140px;
}

.instagram-icon2:hover {
  opacity: 0.7;
}

.footer-left2 {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  position: absolute;
  margin-left: -10px;
}

.footer-separator2 {
  width: 1px;
  background-color: #444;

  margin-top: 10px; /* estava 20px, agora está mais pra baixo */
  margin-left: 58px; /* empurra a linha pra direita */
}

.soundwave-icon2 {
  display: flex;
  align-items: center;
  gap: 3px;
  height: 75px;
  margin-top: 48px;
  transform: translateX(125px);
}

.soundwave-icon2 div {
  width: 3px;
  height: 100%;
  background-color: #004d26;
  animation: pulse-wave 2s infinite ease-in-out;
}

.soundwave-icon2 div:nth-child(1) { animation-delay: 0s; }
.soundwave-icon2 div:nth-child(2) { animation-delay: 0.15s; }
.soundwave-icon2 div:nth-child(3) { animation-delay: 0.3s; }
.soundwave-icon2 div:nth-child(4) { animation-delay: 0.45s; }
.soundwave-icon2 div:nth-child(5) { animation-delay: 0.6s; }
.soundwave-icon2 div:nth-child(6) { animation-delay: 0.75s; }

@keyframes pulse-wave {
  0% { transform: scaleY(1); opacity: 0.7; }
  50% { transform: scaleY(1.5); opacity: 1; }
  100% { transform: scaleY(1); opacity: 0.7; }
}
/* Avatar do usuário */
#userAvatar {
  width:39px;
  height:45px;
  border-radius:50%;
  background:#07632a;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#000000;
  font-weight:bold;
  cursor:default;
  font-family: 'Turret Road', sans-serif !important;
  
}

/* Botão de logout */
/* botão na top-bar */
.login-button {
  padding: 10px 30px;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  font-family: 'Turret Road', sans-serif;
  border: 2px solid #07723d;
  border-radius: 5px;
  font-weight: 700;
  transition: all 0.3s ease;
  margin-left: 23px; 
  font-size: 18px;
}
.login-button:hover {
  background-color: #0a6839;  /* muda fundo para verde ao passar mouse */
  color: #000;                /* texto fica preto */
  border-color: #09552f;      /* borda continua verde */
}
/* modal */
.modal {
  display: none; /* escondido por padrão */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  color: #fff !important;           /* branco */
  width: 350px;
  text-align: center;
  font-family: 'Turret Road', sans-serif !important;
  font-size: 20px;
 
}

.modal-content input {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}

.modal-content button {
 padding: 10px 20px;
  border-radius: 6px;
  border: 2px solid #064727; /* borda verde */
  background-color: #0b6125; /* verde escuro */
  color: #000; /* letras pretas */
  font-family: 'Turret Road', sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close {
  color: #69726a;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #fff;
}
.modal-content input {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #1c814fc9; /* borda verde */
  background-color: #035221; /* verde escuro */
  color: #000; /* letras pretas */
  font-size: 14px;
  font-family: 'Turret Road', sans-serif;
  transition: all 0.3s ease;
}
.modal-content button:hover {
  background-color: #06641d8e; /* verde claro */
  color: #000;
  border-color: #05773e;
}
.modal-content input::placeholder {
  color: #000;
  opacity: 1;
}
.login-error {
  color: #056d2d;
  font-size: 16px;
  margin-top: 10px;
  display: none; /* escondido por padrão */
  font-family: 'Turret Road', sans-serif !important;
}
#logoutBtn {
  background-color: #088833; /* verde */
  color: #000; /* letra preta */
  font-family: 'Turret Road', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#logoutBtn:hover {
  background-color: #09793b; /* verde mais claro ao passar o mouse */
}
.modal-content h2 {
  color: #fff !important;           /* branco */
  font-size: 30px !important;       /* um pouco maior */
  letter-spacing: 1px;              /* leve espaçamento pra estilo */
  text-transform: uppercase;        /* tudo maiúsculo */
  font-family: 'Turret Road', sans-serif !important; /* garante a fonte certa */
}